doctype  html
html
    head
        title formsubmit
            //document.body.style = color

    </style>
    body
        - d = new Date;
        p Hello #{firstname} #{lastname} from a Web app written in Javascript on date time #{d}
        - console.log(color)
        script.
            document.body.style.backgroundColor="#{color}"
